<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        lang="es">
<head th:replace="~{plantillas/plantilla :: head}"></head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>
<main class="container text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <h1 th:text="${contenido}"></h1>
    <form method="post" th:action="@{recibir-usuario-v2}" th:object="${usuario}">
        <div class="row justify-content-center">
            <div class="col-5">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" class="form-control" id="nombre"
                       name="nombre"
                       th:field="*{nombre}"
                       placeholder="Jose Ramon">
            </div>
            <div class="row justify-content-center">
                <div class="col-5">
                    <label for="correo" class="form-label">Correo:</label>
                    <input type="email" class="form-control" id="correo"
                           name="correo"
                           th:field="*{correo}"
                           placeholder="demo@demo.com">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-5">
                    <label for="cp" class="form-label">Codigo Postal:</label>
                    <input type="number" class="form-control" id="cp"
                           name="cp"
                           th:field="*{cp}"
                           placeholder="14100">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-5">
                    <label for="telefono" class="form-label">Telefono:</label>
                    <input type="number" class="form-control" id="telefono"
                           name="telefono"
                           th:field="*{telefono}"
                           placeholder="55468966">
                </div>
            </div>
            <div class="col-8">
                <br/>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>

    </form>
    <h1 th:text="${info}"></h1>
</main>
<footer th:replace="~{plantillas/plantilla::footer}"></footer>
</body>
</html>