<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Spring Thymeleaf</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/tema/miestilo.css}" rel="stylesheet">
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/profesores}">Profesores</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/materias}">Materias</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/asesorias}">Asesorías</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/alumnos}">Alumnos</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center gap-2"
                     th:if="${#authorization.expression('isAuthenticated()')}">
                    <!-- Usuario logueado -->
                    <span class="text-white">
                        Usuario: <strong th:text="${#authentication.name}"></strong>
                    </span>
                    <!-- Botón logout -->
                    <form th:action="@{/logout}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger">
                            Cerrar sesión
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <div class="alert alert-success" th:if="${success !=null}" th:text=${success}></div>
    <div class="alert alert-danger" th:if="${error !=null}" th:text=${error}></div>
    <div class="alert alert-warning" th:if="${warning !=null}" th:text=${warning}></div>
    <div class="alert alert-info" th:if="${info !=null}" th:text=${info}></div>
</header>
<footer th:fragment="footer">
    <div class="container text-center">
        <br/> <img th:src="@{/image/logo.jpg}" height="200" width="200"/>
        <p>Dirección General de Cómputo y de Tecnologías de Información y Comunicación</p>
    </div>
    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/bootstrap/js/jquery-3.6.3.js}"></script>
</footer>
</body>

</html>