<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">

<head th:replace="~{plantillas/plantilla :: head}"></head>

<body>

<header th:replace="~{plantillas/plantilla :: header}"></header>

<main class="container text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <h1>Gestión de Asesorías</h1>
    <p>
        En esta sección se pueden agendar y administrar
        asesorías académicas entre alumnos y profesores.
    </p>
</main>

<footer th:replace="~{plantillas/plantilla :: footer}"></footer>

</body>
</html>